<div class="example-container mat-elevation-z8">
    <h2>Log List</h2>
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/add-logs']"><mat-icon>add</mat-icon> Logs</a>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="data" class="example-table"
             matSort matSortActive="url" matSortDisableClear matSortDirection="asc">
  
        <ng-container matColumnDef="sourceIP">
          <th mat-header-cell *matHeaderCellDef>Source IP</th>
          <td mat-cell *matCellDef="let row">{{row.sourceIP}}</td>
        </ng-container>
  
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef>User Name</th>
          <td mat-cell *matCellDef="let row">{{row.userName}}</td>
        </ng-container>
  
        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef>Url</th>
          <td mat-cell *matCellDef="let row">{{row.url}}</td>
        </ng-container>

        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef>Created</th>
          <td mat-cell *matCellDef="let row">{{row.created}}</td>
        </ng-container>

        <ng-container matColumnDef="method">
          <th mat-header-cell *matHeaderCellDef>Method</th>
          <td mat-cell *matCellDef="let row">{{row.method}}</td>
        </ng-container>

        <ng-container matColumnDef="httpCode">
          <th mat-header-cell *matHeaderCellDef>Http Code</th>
          <td mat-cell *matCellDef="let row">{{row.httpCode}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/logs-details/', row.id]"></tr>
      </table>
    </div>
  </div>
